@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yelow: #F5C044;
    --green: #4CA154;
    --black: #18181B;
    --darkGray: #52525A;
    --gray: #D4D4D8;
    --smooke: #FAFAF9;
    --white: #FFFFFF;
}
body{
    font-family: "Sora", system-ui;
    min-width: 641px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--smooke);
}
main{
    display: flex;
    justify-content: space-around;
    width: 1280px;
    gap: 30px;
    height: auto;
}

.inform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 640px;
}

.inform .icon{
    background-color: var(--yelow);
    padding: 16px;
    margin-left: 10px;
    border-radius: 50%;
}
.inform h1{
    font-size: 36px;
    color: var(--black);
    padding: 16px 0px 12px 0px;
}
.inform h3{
    color: var(--darkGray);
    font-size: 20px;
    line-height: 35px;
    padding: 0px 0px 32px 0;
    width: 560px;
}
.infrom ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}
.inform ul li{
    gap: 8px;
    display: flex;
}
    
.inform > ul > li > p{
    font-size: 14px;
}

.reacts{
    width: 500px;
    height: 550px;
    position: relative;
    display: flex;
}
.reacts ul{
    flex-direction: column;
    list-style: none;
    justify-content: center;
    display: flex;
}

.google{
    display: flex;
    width: 360px;
    height: 200px;
    background-color: var(--white);
    border-radius: 28px;
    position: absolute;
    top: 55px;
    right: 0;
    flex-direction: column;
}
.google .images{
    padding: 28px 40px;
    display: flex;
}
.google .marca{
    height: 40px;
    margin-right: 20px;
    width: 120px;
}
.google .stars{
    gap: 4px;
    display: flex;
}

.google .escrita{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    padding: 0px 40px 28px 40px;
}
.google .escrita h4{
    font-size: 1rem;
    color: var(--black);
}
.google .escrita p{
    color: var(--darkGray);
    line-height: 25px;
}
.meta{
    flex-direction: column;
    width: 360px;
    height: 200px;
    background-color: var(--white);
    border-radius: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}
    
.meta .images{
    padding: 28px 40px;
    display: flex;
}
.meta .marca{
    height: 40px;
    margin-right: 20px;
    width: 120px;
}
.meta .stars{
    gap: 4px;
    display: flex;
}
.meta .escrita{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    padding: 0px 40px 28px 40px;
}
.meta .escrita h4{
    color: var(--black);
    font-size: 1rem;
}
.meta .escrita p{
    color: var(--darkGray);
    line-height: 25px;
}
@media only screen and (max-width: 640px){
    body{
        height: auto;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 600px;
        padding: 20px 0px 0px 0px;
    }
        
    .inform{
        width: 580px;
    }
    .inform h3{
        max-width: 550px;
    }
    .reacts{
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    .google{
        margin-top: -55px;
    }
    .meta{
        margin-bottom: 55px;
    }
}